h1, h2, h3, h4, h5, h6, b {
  color: #333366; }

h1 {
  font-size: 42px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 30px; }

h4 {
  font-size: 26px; }

h5 {
  font-size: 22px; }

h6 {
  font-size: 18px; }

p {
  margin-bottom: 1rem;
  line-height: 1.2; }

p.large {
  font-size: 20px; }

* {
  box-sizing: border-box; }

html, body {
  background-color: #333366;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.btn {
  margin-top: 32px;
  min-width: 320px;
  padding: 16px 10px;
  text-align: center;
  height: 60px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer; }

.btn--center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.btn--primary {
  background-color: #FFCD32;
  color: white; }

.btn--green {
  background-color: green; }

.u-text-center {
  text-align: center; }

.formCard {
  background-color: white;
  border-radius: 5px;
  margin: 32px auto 64px;
  padding: 36px 72px 128px;
  max-width: 800px;
  min-height: 500px;
  position: relative; }

.formCard-header {
  margin-bottom: 32px; }

.formCard-nextBtn {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%); }

.formCard-inputGroup {
  margin-top: 16px; }

.formCard-boolGroup {
  width: 270px;
  margin-left: auto;
  margin-right: auto;
  display: flex; }

.formCard-boolGroup label {
  flex: 0 1 135px;
  margin-top: 32px;
  display: block;
  text-align: center; }

.formCard-boolGroup span {
  margin-left: 8px; }

.formCard-checklist {
  margin-top: 32px; }

.checklist-group {
  display: flex;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  align-items: baseline; }

.checklistGroup--left {
  margin: 16px 0 0 0; }

.checklist-group input {
  flex: 0 1 36px; }

.checklist-group span {
  margin-left: 16px; }

.checklist-group label {
  flex: 0 1 150px; }

.checklist-group select {
  flex: 0 1 150px; }

.formCard-hint {
  font-style: italic; }

.link {
  text-decoration: underline;
  cursor: pointer; }
